<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
    
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup>
    <connectionStrings>
    <add name="itcastCater" connectionString="data source=C:\Users\001\Desktop\itcastCater.db;version=3;"/>
    </connectionStrings>
</configuration>
